* {
    margin: 0;
    padding: 0;
}

body
.poppins-thin {
    font-family: "Poppins", sans-serif;
    
  }
      
    
  


.cabecalho {
    background-color: #0000;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}






.corinthians-div-conteúdo {
  width: 40%;
}
 .corinthians-titulo{
    padding: 24px 0%;
 }

 .corinthians-imagem {
   width: 120px;
     } 